Agentic Cyber News Summarizer.json
{
  "name": "Agentic Cyber News Summarizer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        -512
      ],
      "id": "b4cbe2c5-af62-4fba-a499-37bd4028456c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://therecord.media/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        368,
        -512
      ],
      "id": "7925c637-001d-4aa0-b66a-61896175fcf5",
      "name": "RSS Feed"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -512
      ],
      "id": "7ee28ba0-5104-46f4-8ffa-b58de28f9a1f",
      "name": "Extract HTML"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const match = $json.data.match(\n  /<script id=\"__NEXT_DATA__\" type=\"application\\/json\"[^>]*>(.*?)<\\/script>/s\n);\n\nif (!match) {\n  throw new Error(\"Application JSON script not found\");\n}\n\nconst nextData = JSON.parse(match[1]);\n\nconst article =\n  nextData?.props?.pageProps?.page?.data?.[0]?.article;\n\nif (!article) {\n  throw new Error(\"Article object not found\");\n}\n\nconst bodyJson = JSON.parse(article.body);\n\nconst content = bodyJson.blocks\n  .map(block => {\n\tif (block.type === \"paragraph\") {\n  \treturn block.data?.text || \"\";\n\t}\n\n\tif (block.type === \"header\") {\n  \treturn \"\\n\" + (block.data?.text || \"\") + \"\\n\";\n\t}\n\n\treturn \"\";\n  })\n  .filter(Boolean)\n  .join(\"\\n\\n\");\n\nreturn {\n  title: article.title,\n  date: article.date,\n  content: content.slice(0, 4000)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -512
      ],
      "id": "204240bf-1463-4ba3-9fe8-faa90ace54e5",
      "name": "Extract Article Content"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        -512
      ],
      "id": "9be52a5c-9236-4758-b307-0eb536daed70",
      "name": "Loop over articles",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.72.130:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"phi3:mini\",\n  prompt: `Act as a senior cybersecurity threat analyst.\n\nReturn EXACTLY:\n\nWhat Happened:\n- ...\n\nWhy It Matters:\n- ...\n\nWhat To Do:\n- ...\n- ...\n\nFocus on actionable guidance.\nDo not repeat the article.\nInclude title as header and the date.\n\nTitle:\n${$json.title}\nDate:\n${$json.date}\nArticle:\n${$json.content}`,\n  stream: false,\n  options: {\n\tnum_predict: 500,\n\ttemperature: 0.2\n  }\n}) }}\n\n",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -416
      ],
      "id": "4e38a069-385a-45ce-b610-4b44346bc0dc",
      "name": "Ollama Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e9ebe54-fdb9-433f-bce3-8cb64f3491fc",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        -416
      ],
      "id": "82d5f424-20a2-479e-82b4-95fe0fe3d1d3",
      "name": "Extract Ollama Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data || [];\n\n// Keep only valid Ollama responses\nconst articles = data.filter(\n  article =>\n\tarticle &&\n\tarticle.response &&\n\ttypeof article.response === 'string' &&\n\tarticle.response.trim() !== ''\n);\n\n// Prevent downstream nodes from running\nif (articles.length === 0) {\n  return [];\n}\n\nlet html = `\n<h1>Cyber Threat Intelligence Digest</h1>\n<p>Generated by n8n + Ollama</p>\n`;\n\nfor (const article of articles) {\n  html += `\n  <div style=\"border:1px solid #ddd;padding:15px;margin-bottom:20px;\">\n\t<pre style=\"white-space:pre-wrap;font-family:Arial;\">\n${article.response}\n\t</pre>\n  </div>\n  `;\n}\n\nreturn [\n  {\n\tjson: {\n  \tsubject: `Daily Cyber Intelligence Digest`,\n  \thtml\n\t}\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -592
      ],
      "id": "319ebe18-89c0-4be1-8e8b-523daecf29c3",
      "name": "Construct Email HTML"
    },
    {
      "parameters": {
        "sendTo": "chung.woonyong@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1728,
        -608
      ],
      "id": "d9fbbe1e-f90b-4b07-bd30-7f317b520523",
      "name": "Send a message",
      "webhookId": "c0b50fa5-63a5-4647-bbdb-e6ce33247e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "mejJK2WOZ7CHkf5M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1184,
        -592
      ],
      "id": "0ac3ae1e-86ab-4ebc-a34f-d16c2445c39d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfc2941e-46b9-41df-b813-0d65d5f32b3a",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bdae2d07-441f-4fe7-8c2a-2a1a2c39c245",
              "leftValue": "={{ $json.html }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        -592
      ],
      "id": "04305eb7-ecec-4f38-b2d7-bd1f469fa09e",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed": {
      "main": [
        [
          {
            "node": "Extract HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML": {
      "main": [
        [
          {
            "node": "Extract Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Content": {
      "main": [
        [
          {
            "node": "Loop over articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over articles": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Prompt": {
      "main": [
        [
          {
            "node": "Extract Ollama Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ollama Response": {
      "main": [
        [
          {
            "node": "Loop over articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Email HTML": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Construct Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "34890831-4d23-443f-9bb9-858afb14ba75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b83f23636774ff47bac2c5b16a8d8fbf47a8092145b4a39899f3d4862ed9c9f"
  },
  "id": "uvOhH8LkTUyPZynL",
  "tags": []
}